.fa-infos {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.Infos {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    background:rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: .7rem;
    text-align: center;
}
.fa-info-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background:rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: .7rem;
    text-align: center;
    border: 1px solid #fff;
}
.infos-items{
    width: 25%;
    height: 3rem;
    line-height: 1.2rem;
    border-right:1px solid rgba(250, 250, 250, 0.2);
    border-bottom:1px solid rgba(250, 250, 250, 0.2);
    box-sizing:border-box;
    padding-top: .5rem;

}
.guide{
    background:rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: .7rem;
    display: flex;
}
.guide-tem{
    width: 33%;
    line-height: 1.5rem;
    text-align: center;
}
.lists-bottom{
    background:rgba(0, 0, 0, 0.6);
    margin-bottom:20rpx;
    color: #fff;
    font-size: .8rem;
    margin: 1rem 0;
}
.listSize{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    border-bottom:1px solid rgba(250, 250, 250, 0.2);
    padding: .5rem 1rem;
}
.guide-imgs{
    width: 3rem;
    height: 3rem;;
}
.list-right{
    padding-left: 2rem;
    line-height: 1.4rem;
}
.infosbox{
    display: flex;
    flex-wrap: wrap;
}