.CurrentWeather-area{
    display: flex;
    flex: 1;
}
.CurrentWeather{
    padding: 5px 25px;
    color: #fff;
    font-size: .9rem;
    line-height: 5rem;
}
.CurrentWeather-left{
    width: 50%;
    font-size: 2rem;
}
.CurrentWeather-right{
    width: 50%;
    text-align: right;
}
.CurrentWeather-tips{
   font-size: .7rem;
   line-height: 3rem;
}
.CurrentWeather-temper{
   font-size: 100px;
   text-align: center;
   font-weight: normal;
   height: 10rem;
   line-height: 10rem;
}
.CurrentWeather-qing{
    text-align: center;
    line-height: 2rem;
}
.CurrentWeather-qing-zk{
    text-align: center;
    line-height: 2rem;
}